/tralcerapp/src/main/resources/assets/images/sharecards
/synchronizer/synchronizerConfigLocalCopy.yaml
/tralcerapp/tralcerappConfigLocalCopy.yaml
/public_html
/mailer/public_html
/tralcerapp/src/main/resources/logs
/teaser/src/main/resources/assets/documents
/mailer/mailer
# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml

# Sensitive or high-churn files:
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

/tralcerapp/src/main/resources/assets/images/profileimages
/tralcerapp/src/main/resources/assets/images/thumbimages
# Mongo Explorer plugin:
#.idea/mongoSettings.xml

## File-based project format:
/modules.iml
/commons/target
/mailer/target
*.iws

## Plugin-specific files:

# IntelliJ
/out/

#Intellij Idea
*.iml

#Maven
target/

# logs
/mailer/src/main/resources/log/
/synchronizer/src/main/resources/synchronizer.log


# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

/.idea/
/tralcer-api-*.tar.gz
/tralcerapp/src/main/resources/assets/documents/csv/
!/tralcerapp/tralcerappConfigLocalCopy.yaml
/tralcerapp/src/main/resources/assets/records/
/opennlpexamples.iml
